<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="Clark.Feed.Nuget" value="https://tfs.clarkinc.biz/DefaultCollection/_packaging/c2aa131e-9bf5-4fdf-9bbe-81bcda5b3920/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<Clark.Feed.Nuget>
			<add key="Username" value="user" />
			<add key="ClearTextPassword" value="4qxgzfmdn2hj3wlnqtxrdfg42xyyavlmws7ghrcxlq5sytqn3aba" />
			<add key="validauthenticationtypes" value="basic" />
		</Clark.Feed.Nuget>
	</packageSourceCredentials>
</configuration>