.hidden {
    display: hidden;
}

.ant-collapse-content-box {
    padding: 0 !important;
}

.ant-message-notice-content {
    text-align: left;
}

.ant-notification-notice-message {
    text-transform: capitalize;
}

.drawer-item {
    display: block;
    width: 100%;
    margin-bottom: 16px;

    &__saved-tag {
        color: #874d00;
        border-color: #874d00;
        margin: 0 auto;
    }

    &__open-tag {
        color: #135200;
        border-color: #135200;
        margin: 0 auto;
    }

    &__closed-tag {
        color: #595959;
        border-color: #595959;
        margin: 0 auto;
    }

    &__item-table {
        display: block;
        width: 100%;
    }

    &__resolution {
        width: 100%;
    }

    &__resolution-input {
        margin-top: 20px;

        .ant-form-item-label {
            text-align: left;
            padding-left: 16px;
            margin-right: 5px;
        }
    }

    &__resolution-select {
        width: 239px !important;
    }
}

.action-btns {
    padding: 20px;
}

.ant-message-notice-content {
    padding: 14px 18px;
}

.ant-notification-notice-description {
    color: #595959;
}

.calc-btn {
    color: #1890ff;
}

.price-input {
    width: 216px;
}

// ShipmentInfo Component Styles

.shipment-info {
    max-width: 510px;
    background: #fafafa;
    margin-top: 20px;
    margin-left: 16px;
    padding: 16px;
    border: 1px solid #d9d9d9;

    &__top-section {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 8px;
        margin: 0;
        margin-bottom: 16px;
    }

    &__trace-item {
        margin-top: 8px;
    }

    &__middle-section {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 8px;
        margin: 0px;
        margin-bottom: 16px;
    }

    &__bottom-section {
        padding-bottom: 8px;
        margin: 0;
        margin-bottom: 16px;
    }

    &__text-align-center {
        text-align: center;
    }

    &__item-info {
        font-size: 12px;
    }
}

// ResolutionOptions Component Styles

.resolutions {
    padding-left: 16px;
    width: 420px;

    &__label {
        text-align: left;
    }

    &__popover {
        max-width: 224px;
    }

    &__alert {
        margin-bottom: 16px;
    }

    &__credit-amount {
        padding-left: 24px;
    }
    &__inconvenience-credit .ant-form-item-no-colon {
        margin-right: 17px !important;
    }
}
