@import (reference) "~Theme";

.container-fluid--main {
    padding: 16px 64px 0 16px;
    min-height: 90vh;
}

.ant-table-tbody .ant-table-cell-row-hover {
    background-color: #e6f7ff !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #e6f7ff !important;
}

.ant-popover {
    width: 200px;

    .ant-popover-title {
        font-weight: 600;
    }
}

.full-width {
    width: 100%;
}

.display-block {
    display: block;
}

.relative-path {
    display: flex;
    color: #8c8c8c;
    margin-top: 20px;

    a {
        margin: 0 10px;
        color: #8c8c8c;
    }

    &__home {
        margin-left: 0;
    }
}

.tab-text {
    color: #1890ff !important;
}

.layout {
    background: #fff;
}

.highlighted {
    background-color: #e6f7ff;
}

.item-details {
    display: flex;
    align-items: center;
    max-width: 334px;

    p {
        margin: 0;
    }

    &__tag {
        padding: 4px;

        img {
            width: 32px;
        }
    }
    &__description {
        max-width: 245px;
    }
}

.item-quantity {
    width: 95px;
}

.item-type {
    width: 176px;
}
.item-issue {
    width: 176px;
}

.sider {
    position: absolute;
    min-height: 100%;
    right: 0;
    height: fit-content;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.1);
}
